<div class="mt-4">
    <h3>Quản lý bài viết</h3>
    <form method="POST" action="/posts/add-post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Tên cửa hàng</label>
            <input type="text" class="form-control" name="name" />
        </div>
        <div class="form-group">
            <label>Địa chỉ</label>
            <input type="text" class="form-control" name="address" />
        </div>
        <div class="form-group">
            <label>Mô tả</label>
            <textarea class="form-control" name="description"></textarea>
        </div>
        <div class="form-group">
            <label>Sđt</label>
            <input type="text" class="form-control" name="phone" />
        </div>
        <div class="form-group">
            <label>Image</label></br>
            <input type="file" class="form" name="avatar" />
        </div>
        <a href="/posts" class="btn btn-primary mr-2">
            Trở về
        </a>
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>